* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.display-inline{
    display: inline;
}

.heading{
    text-align: center;
    margin: 50px;

}

#inputs{
    display: flex;
    flex-direction: column;
   align-items: center;
    
}
.row h3{
    width: 150px;
    margin: 0px;
}

input{
    width: 190px;
}
.buttons{
    text-align: center;
    font-size: larger;
    border-radius: 2px;
    width: 120px;
    height: 60px;
    margin-top: 20px;
    margin-left: 370px;
}
.outputs{
    display: flex;
    font-size: x-large;
    justify-content: center;

}